{% extends 'base.html' %} 

{% block title %}login{% endblock %} 

{%block li-ul%}nav-active{% endblock %} 

{% block content %}
<nav class="breadcrumb">
  <span class="breadcrumb-item active"><strong>Login</strong></span>
</nav>
<div class="container">
  <div class="row">
    <div class="col-0 col-md-3"></div>
    <div class="col-12 col-md-6">
    <h2 style="display: inline;">Login</h2>
    </div>
    <div class="col-0 col-md-3"></div>
</div>
  <form action="" method="POST">
    <div class="row">
      <div class="col-0 col-md-3"></div>
      <div class="col-12 col-md-6">
    {% csrf_token %} 
    
    {% if error %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Username or password is incorrect</strong>
    </div>

    <script>
      $(".alert").alert();
    </script>
    
    {% endif %}

    <div class="form-group">
      <label for="">Usename</label>
      <input type="text" name="username" class="form-control" placeholder="" />
    </div>

    <div class="form-group">
      <label for="">Password</label>
      <input type="password" name="password" class="form-control" placeholder="" />
    </div>

    <input type="submit" class="btn btn-primary" value="Login" />
    </div>
    <div class="col-0 col-md-3"></div>

  </form>
</div>

{% endblock%}
