<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h3 style="color: rgb(17, 17, 78);">{{subject}}</h3>
    <div>Hai {{username}},</div>
    <div>{{msg1}}</div>
    <div>Check it now..</div>
    <div>Item name : <strong>{{prod_name}}</strong></div>
    <div>Price Today: &#8377;{{price_new}} - Last checked on {{lastcheck | date:"d M Y f A"}}</div>
    <br><br>
    <div><a href="{{prod_url}}" target="_blank" style="text-decoration: none;margin-left: 20px;padding: 10px;background-color: rgb(0, 162, 255);color: aliceblue;">Check now..On Flipkart</a></div>
    <br><br>
    <div>From Pricedrop team.</div>
    
</body>
</html>