{% extends 'base.html' %}
{% load static %}
{% block title %}Watchlist{% endblock %}

{% block static-files %}
<link rel="stylesheet" href=" {% static 'linkadd/css/style-wl.css' %} ">
{% endblock %}
{%block wl-ul%}nav-active{% endblock %}

{% block content %}

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="{% url 'home' %}">Home</a>
    <span class="breadcrumb-item active"><strong>Watchlist</strong></span>
</nav>

<div class="container">
    <div class="row">
{% for product in data %}

    <div class="col-12 col-md-8 col-lg-6">
      <div class="card card-custom">
            <div class="half-l">
                <img src="{{ product.product_pic_url }}" class="center" alt="{{ product.product_name }}" style="max-width: 100%;max-height: 100%;">
            </div>
            <div class="half-r ml-sm-2 pl-md-3 pl-lg-0">
                <div class="product-name">{{ product.product_name }}</div>
                <div class="{% if product.availability == 'Sold Out' %}product-availability-stock-out{% else %} product-availability-instock {% endif %}">{{ product.availability }}</div>
                <div class="product-price">&#8377;{{ product.price_th }}</div>
                <div>Date added : {{ product.date_added | date:"D d M Y f A"  }}</div>
                <div class="product-activity-btn">
                    <a href="{{ product.product_url }}" target="_blank" class="btn btn-sm btn-info">Visit page</a>&nbsp;&nbsp;
                    <a href="{% url 'watchlist:view_history' product.id %}" class="btn btn-sm btn-info">History</a>&nbsp;&nbsp;
                    <a href="#" class="btn btn-sm btn-danger text-light"  data-toggle="modal" data-target="#modelId-{{product.id}}">Remove</a>
                </div>
            </div>
      </div>
    </div>
        
    <div class="modal fade" id="modelId-{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger"><strong>Sure to remove ?</strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    Are you sure to delete <span style="color: blue;">{{product.product_name}}</span> from your watchlist ?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">NO</a>
                    <a href="{% url 'watchlist:delete_item' product.id %}" class="btn btn-danger">Ok Remove</a>
                </div>
            </div>
        </div>
    </div>
{% empty %}
<div class="col-12">&nbsp;</div>
<div class="col-2">&nbsp;</div>
<div class="col-8">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="color: indigo;">There is no item in your watchlist !.</h4>
            <p class="card-text"><a href="{% url 'watchlist:add_link_to_wl' %}">Go here</a> to add something.</p>
        </div>
    </div>
</div>
<div class="col-2">&nbsp;</div>

{% endfor %}
    </div>
{% endblock %}
</div>